h1{
    text-align: center;
    color: deeppink;
    text-shadow: 2px 2px powderblue;
}
body
{
    background-color:powderblue;
}
.container
{
    width: 300px;
    border: 4px dotted powderblue;
}
button
{
    background-color: aqua;
    color: crimson;
    padding: 5px;
    margin: 4px;
    font-weight: bold;
    box-shadow:2px 2px  red;
}
.container
{
    background-color: darkgray;
    margin: 200px;
    border-radius: 15px;
}
